<?xml version="1.0" encoding="UTF-8"?>
<configuration>

 	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>FA - %rEx{5} %clr(%X{UTYPE} %X{UID} %d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t{14}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n</pattern>
        </encoder>
    </appender>

    <appender name="logFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>log/fa.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>FA - %date [%thread] %-5level %logger{35} - %X{UTYPE} %X{UID} %message %rEx{5} %n</pattern>
        </encoder>
    </appender>

    <appender name="syslogAppender" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>LOCAL7</facility>
        <suffixPattern>SYSLOG FA - %date [%thread] %-5level %logger{35} - %X{UTYPE} %X{UID} %message %rEx{5} %n</suffixPattern>
    </appender>
	
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="logFileAppender"/>
    </root>

    <logger name="com.manheim" level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="logFileAppender"/>
    </logger>
</configuration>
